// Place all the styles related to the contract controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.contaract-form{
    padding:30px 0;
}

.contaract-form p{
    margin:0px;
    padding-top: 20px;
    padding-bottom:10px;
}

.form{
    border:2px solid;
    width:50%;
    margin:0 auto;
    text-align: center;
    padding:20px;
}