.main{

}

.main-box{
    text-align: center;
    padding:30px;              
    background-color: rgb(255, 255, 255); 
    height:930px;
    background-image: url("/images/top.png");
    background-repeat: no-repeat;
    background-size:cover;
}

h1{
    margin:30px 0px;
    color:white;
    font-weight: bold;
    font-family: "Hannari";
    font-size:80px;
}
